:root {
	--unity-colors-inspector_titlebar-background: #3E3E3E;
	--unity-colors-inspector_titlebar-background-hover: #474747;
	--unity-colors-inspector_titlebar-border: #1A1A1A;
	--unity-colors-inspector_titlebar-border_accent: #303030;
	--unity-colors-window-background: #383838;
	--unity-colors-label-text-focus: #81B4FF;
	--unity-colors-toolbar_button-background-hover: #505050;
	--unity-colors-toolbar-background: #3C3C3C;
	--unity-colors-preview-border: #232323;
	--unity-colors-highlight-background: #2C5D87;
	--unity-colors-alternated_rows-background: #3F3F3F;
	--unity-icons-arrow_right: resource("Builtin Skins/DarkSkin/Images/ArrowNavigationRight.png");
	--unity-icons-arrow_left: resource("Builtin Skins/DarkSkin/Images/ArrowNavigationLeft.png");
}