:root {
	--unity-colors-inspector_titlebar-background: #CBCBCB;
	--unity-colors-inspector_titlebar-background-hover: #D6D6D6;
	--unity-colors-inspector_titlebar-border: #7F7F7F;
	--unity-colors-inspector_titlebar-border_accent: #BABABA;
	--unity-colors-window-background: #C2C2C2;
	--unity-colors-label-text-focus: #003C88;
	--unity-colors-toolbar_button-background-hover: #EFEFEF;
	--unity-colors-toolbar-background: #CBCBCB;
	--unity-colors-preview-border: #999999;
	--unity-colors-highlight-background: #3A72B0;
	--unity-colors-alternated_rows-background: #CACACA;
	--unity-icons-arrow_right: resource("Builtin Skins/LightSkin/Images/ArrowNavigationRight.png");
	--unity-icons-arrow_left: resource("Builtin Skins/LightSkin/Images/ArrowNavigationLeft.png");
}