:root {
	--colors-decorator_list-background: #36364C;
	--colors-decorator_list-border: #000000;
	--colors-service_list-background: #364C36;
	--colors-service_list-border: #000000;
	--colors-state_link_header-text: #B4B4B4;
	--colors-count_badge-background: #5F5F5F;
	--colors-count_badge-text: #D2D2D2;
	--colors-arrow-button-background-hover: rgba(255, 255, 255, 0.2);
	--colors-header_bar-background: rgb(64, 64, 64);
	--colors-header_bar-background-hover: rgb(69, 69, 69);
	--colors-header_bar-border: rgb(40, 40, 40);
	--colors-box-border: rgb(35, 35, 35);
	--colors-toggle_button-background-checked: rgb(70, 96, 124);
    --colors-toggle_button-border-checked: rgb(36, 36, 36);
    --colors-toggle_button-border-top-checked: rgb(13, 13, 13);
	--icons-state_link_header-background: url("../../Textures/state link header@Dark.png");
	--icons-breadcrumbs_item-background: resource("Builtin Skins/DarkSkin/Images/breadcrump mid.png");
	--icons-breadcrumbs_item-background-active: resource("Builtin Skins/DarkSkin/Images/breadcrump mid act.png");
	--icons-breadcrumbs_item-background-checked: resource("Builtin Skins/DarkSkin/Images/breadcrump mid on.png");
	--icons-breadcrumbs_item-background-checked_active: resource("Builtin Skins/DarkSkin/Images/breadcrump mid onact.png");
	--icons-breadcrumbs_first_item-background: resource("Builtin Skins/DarkSkin/Images/breadcrump left.png");
	--icons-breadcrumbs_first_item-background-active: resource("Builtin Skins/DarkSkin/Images/breadcrump left act.png");
	--icons-breadcrumbs_first_item-background-checked: resource("Builtin Skins/DarkSkin/Images/breadcrump left on.png");
	--icons-breadcrumbs_first_item-background-checked_active: resource("Builtin Skins/DarkSkin/Images/breadcrump left onact.png");
	--icons-drag_handle-background: resource("Builtin Skins/DarkSkin/Images/WindowBottomResize.png");
	--icons-drop_insertionbar-background: resource("Builtin Skins/DarkSkin/Images/PR DropHere2.png");
	--icons-visibility-on: resource("d_animationvisibilitytoggleon");
	--icons-visibility-off: resource("d_animationvisibilitytoggleoff");
}