svg {
	display: block;
	margin: 0 auto;
	box-shadow: 0 0 5px black;
}

.node {
	cursor: move;
}

.node text {
	pointer-events: none;
	font: 10px sans-serif;
}

.node.parent text {
	font: 5px sans-serif;
}

.link {
	stroke: black;
}

.link.parent {
	stroke: #00000010;
}